@import url('https://fonts.googleapis.com/css?family=Girassol|Raleway|Roboto&display=swap');

.job-card {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.job-card h1 {
  font-family: 'Girassol', cursive;
}

.job-filter-form {
  margin-left: 7%;
}
.undo-button {
  margin-left: 7%;
}

.inner-card {
  padding: 0 30px 30px 30px;
}