<!-- <h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
    Share
  </button>

  <app-item-alert
    [product]="product"
    (notify)="onNotify()"
  >
  </app-item-alert>

</div> -->

<div *ngFor="let job of allJobs">
  <mat-card class="job-card">
    <!-- <mat-card-header>
      <h1>{{job.data.title}}</h1>
    </mat-card-header>
    <mat-card-content class="inner-card">
      <p>{{job.data.street_address}}</p>
      <p>{{job.data.meta_data.googlejobs.jobSummary}}</p>
    </mat-card-content> -->
    <app-one-job-display [job]="job"></app-one-job-display>
  </mat-card>
</div>