@import url('https://fonts.googleapis.com/css?family=Girassol|Raleway|Roboto&display=swap');

mat-panel-title {
  font-family: 'Girassol', cursive;
}

.inner-new-card {
  padding: 0 30px 30px 30px;
}

.job-icons {
  margin-right: 10px;
}